@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@400;500&family=Roboto&display=swap");

.box {
 display: flex;
 justify-content: space-between;
 margin: 0 50px;
  img {
    width: 300px;
  }
}
.card_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    width: 30px;
  }
}

/* Стили для иконки SVG, когда объект не в избранном */
.favoriteIcon {
  fill:rgb(252, 206, 150);/* Изначальный цвет иконки */
  &:hover {
    fill:rgb(252, 206, 150);
    transition: fill 0.3s;
  }
}

// /* Стили для иконки SVG, когда объект в избранном */
// .favoriteIconActive {
//   fill:rgb(252, 206, 150);
// }
