.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  img {
    width: 100px;
  }
  ul {
    display: flex;
    list-style-type: none;
  }
  ul li:not(:last-child) {
    margin-right: 10px;
  }
}
