.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  img {
    width: 50%;
  }
  ul {
    display: flex;
    width: 50%;
    list-style-type: none;
    justify-content: space-between;
  }
}
.phone {
  svg {
    width: 60%;

  }
}
.header_right {
  display: flex;
  position: relative;

  span {
    position: absolute;
    left: 20%;
    padding: 2px;
    color: white;
    text-align: center;
    background-color: rgb(252, 206, 150);
    border-radius: 50%;
    width: 20px;
  }
  svg:hover {
    fill:rgb(252, 206, 150);
  }
}
.menu {
  position: relative;
}
